.inputText {
  width: 400px;
  height: 40px;
  background-color: #454545;
  color: white;
  text-align: end;
  line-height: 50px;
  padding-right: 20px;
  font-size: 30px;
  border-radius: 2px;
}
